<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">My Tasks</div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Do It</th>
        <th>Days Left</th>
        <th>Done</th>
      </tr>
    </thead>
    <div class="js-tasks">
      <%= render partial: 'tasks', locals: {tasks: @tasks} %>
    </div>
  </table>
  <div class="new-task">
    <%= render partial: 'form', locals: {task: @new_task} %>
  </div>
</div>


