<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">My Tasks</div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Do It</th>
        <th>Days Left</th>
        <th>Done</th>
      </tr>
    </thead>
    <%= render partial: 'tasks', locals: {tasks: @tasks, task: @task} %>
  </table>
  <div class="col-md-3"></div>
  <div class="col-md-6" id="new-task">
    <%= render partial: 'form', locals: {task: @new_task} %>
  </div>
  <div class="col-md-3"></div>
</div>


