<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">My Tasks</div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Do It</th>
        <th>Days Left</th>
        <th>Done</th>
      </tr>
    </thead>
    <tbody>
      <tr></tr>
    </tbody>
  </table>
</div>

