<div class="jumbotron">
  <h1>EdBlocitoff</h1>
  <p>Self-destructing to-do-list that gets stuff done.</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Do What You Gotta Do</h2>
    <p>Create Reminders of things you want to accomplish in the next 7 days.</p>
  </div>
  <div class="col-md-4">
    <h2>Self Destruction</h2>
    <p>Tasks that are not completed within 7 days are obliterated. BAM!</p>
  </div>
  <div class="col-md-4">
    <h2>Clock is Tickin'</h2>
    <p>Count down to the destruction of your tasks.</p>
  </div>
</div>